body {
    background-color: #d9d9d9;
}

.navbar-brand {
    float:left;
}

.NavbarButtons {
    /* float: right; */
}

.containerMain {
    background-color: white;

}

h1 {
    color: black;
    margin-left: 20px;
}

p1 {
    color: black;
}

img {
    width: 25%;
    height: auto;
    margin-left: 20px;
    float: left;
}

.line {
    width: 90%; 
    height: 20px;
}

.aboutmebody {
    width: 50%;

}
