body {
    background-color: #d9d9d9;
}

.navbar-brand {
    float:left;
}

.containerMain {
    background-color: white;
}

h1 {
    color: black;
    margin-left: 20px;
}

img {
    width: 25%;
    height: auto;
    float: left;
}